    <footer id="footer">
        <div class="container">
<% if params[:action] == "home" %>
            <div class="row sections">
                <div class="col-sm-4 recent_posts">
                    <h3 class="footer_header">
                        Recent Posts
                    </h3>
                    <div class="post">
                        <a href="blogpost.html">
                            <img src="assets/recent_post1.png" class="img-circle" />
                        </a>
                        <div class="date">
                            Wed 12 Dec
                        </div>
                        <a href="blogpost.html" class="title">
                            Randomised words which don't look embarrasing hidden.
                        </a>
                    </div>
                    <div class="post">
                        <a href="blogpost.html">
                            <img src="assets/recent_post2.png" class="img-circle" />
                        </a>
                        <div class="date">
                            Mon 12 Dec
                        </div>
                        <a href="blogpost.html" class="title">
                            Randomised words which don't look embarrasing hidden.
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 testimonials">
                    <h3 class="footer_header">
                        Testimonials
                    </h3>
                    <div class="wrapper">
                        <div class="quote">
                            <span></span>
                            There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
                            <span></span>
                        </div>
                        <div class="author">
                            <img src="assets/user-display.png" />
                            <div class="name">Alejandra Galvan Castillo</div>
                            <div class="info">
                                Details Canvas
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 contact">
                    <h3 class="footer_header">
                        Contact
                    </h3>
                    <form action="#" method="post">
                        <input type="text" placeholder="Your name" />
                        <input type="text" placeholder="Your email" />
                        <textarea rows="3" placeholder="Message"></textarea>
                        <input type="submit" value="Send" />
                    </form>
                </div>
            </div>
<% else %>
            <div class="row info">
                <div class="col-sm-5 residence">
                    <ul>
                        <li><strong>P.</strong> (888) 888-8888</li>
						<li>&nbsp;<!--address later--></li>
                    </ul>
                </div>
                <div class="col-sm-4 touch">
                    <ul>
                        <li>&nbsp;<!--move phone here--></li>
						<li><strong>E.</strong> <a href="mailto:info@dailypayment.org">info@dailypayment.org</a></li>
                    </ul>
                </div>
            </div>
<% end %>
            <div class="row credits">
                <div class="col-md-12">
                    <div class="row social">
                        <div class="col-md-12">
                            <a href="http://www.facebook.com/dailypayment" class="facebook" target="_blank">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="http://www.twitter.com/dailypayment" class="twitter" target="_blank">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="col-md-12">
                            &copy; 2014 Daily Payment. All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>